.login {
	height: 100%;
	width: 100%;
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	text-align: center;
}

.main-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-form .main-form__inputError {
	position: absolute;
	font-size: 12px;
	white-space: nowrap;
	top: 50%;
	transform: translateY(-50%);
	color: red;
	padding: 0 10px;
}

.main-form .main-from__submitWrapper {
	position: relative;
	width: 100%;
}

.main-form .main-form__inputBody {
	margin-bottom: 5px;
	position: relative;
}

.main-form input[name='remember'] {
	margin-right: 5px;
}

.main-form__captcha {
	position: absolute;
	right: 10%;
}

.main-form button[type="submit"] {
	width: 100%;
}
